[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/tinyobjloader"]
	path = submodules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
